name: Terraform_infra

permissions:
  id-token: write
  contents: read
  
# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  # push:
  #   branches: [ "main" ]
  # pull_request:
  #   branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  terraform_init:
    # The type of runner that the job will run on
    runs-on: self-hosted
  
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Install Terraform
        uses: little-core-labs/install-terraform@v2.0.0
        with:
          version: 1.13.0          

      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
          client-id: bb0599d1-7294-4c23-80a7-9a83536feac1
          tenant-id: 34969ee9-a0d2-43d0-bf8a-b3bd43c55eea
          subscription-id: 98473d5b-c639-404e-9bf2-91559fe65ff8

      - name: Terraform Init
        id: init
        run: terraform init -input=false
        working-directory: Root

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color
        working-directory: Root
      
      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color -input=false
        continue-on-error: true 
        working-directory: Root

        
